/* Loader Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make the container take the full viewport height */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    position: fixed; /* Fixed positioning to cover the whole viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* Place the loader on top of other content */
  }
  
  /* Animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

   .animate-pulse {
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  