/* Initial styles for the settings panel */
.settings-panel {
  position: fixed;
  /* top: 72px; */

  right: 68px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Animation for making the settings panel visible */
.settings-panel.visible {
  opacity: 1;
  pointer-events: auto;
}
